[Unit]
Description=password-server service

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/opt/password-server
ExecStart=node /opt/password-server/index.js

[Install]
WantedBy=multi-user.target
